html, body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#canvas-container {
    margin: 0 auto;
    -webkit-tap-highlight-color: transparent;
}

form {
    margin: 0 auto;
}
